.profile__user {
  max-width: 45%;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .profile__user {
    font-size: 32px;
    max-width: 30%;

    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .profile__user {
    font-size: 42px;
    line-height: 1.2;
  }
}
