.card__like{
    width: 170px;
    position: absolute;
    display: none;
    /* align-self: center;
    justify-self: center; */
    z-index: 3;
    top: 20%;
    left: 20%;
}

@media screen and (max-width:539px) {
    .card__like{
        left: 33%;
    }
} 
@media screen and (max-width:400px) {
    .card__like{
        left: 27%;
    }
} 
@media screen and (max-width:350px) {
    .card__like{
        left: 20%;
    }
} 